html{
    height: 100%;
}

body{
    margin: auto;
    background: #f1f1f1;
    height: 100%;
}

#bg-div{
    min-height: calc(100% - 80px);
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url("../img/swirl_pattern.png");
    background-position: left top;
    background-attachment: fixed;
}

#header{
    background: #ffffff;
    border-bottom: thin solid black;
    height: 77px;
}

#logocontainer{
    margin-left: auto;
    margin-right: auto;
    width: 344px;
    max-width: 100%;
}

#main-content{
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

#contentdiv{
    /*min-height: calc(100% - 80px);*/
    background: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: 1000px;
    border: thin solid rgb(205, 205, 205);
}

#menu{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.inner{
    margin-top: 25px;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
}

#finalcontentcontainer1{
}

#formNew{
    margin-top: 0px;
    display: none;
}

#formwrap{
    border-bottom: thin solid rgb(205, 205, 205);
}

#description{
    height: 100px;
}

.nopadop{
    padding-top: 0px !important;
    margin-top: 0px !important;
}

.url{
    word-wrap: break-word;
}

#headerimg{
    max-width: 100%;
}

.bbb{
    background-color: #BBBBBB !important;
}

.text-center{
    text-align: center;
}

.top-border{
    border-top: thin solid rgb(205, 205, 205);
}

.margin15{
    margin: 15px;
}

a.disabled, a.active{
    pointer-events: none;
}

.column{
    display: inline-table !important;
}

#logoutLink{
    padding-top: 8px;
}