{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=max-device-width,height=device-height,target-densitydpi=device-dpi,initial-scale=1.0">
    <title>linkshare - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "linkshare/css/base.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "linkshare/css/semantic.min.css" %}" />
    <script src="{% static "linkshare/js/jquery-2.1.3.min.js" %}"></script>
    <script src="{% static "linkshare/js/semantic.min.js" %}"></script>
    <script src="{% static "linkshare/js/ZeroClipboard.min.js" %}"></script>

    {% block head %}{% endblock %}

    <script>
        $(document).ready(function() {

            {% block customjs %}{% endblock %}

        });
    </script>
</head>
<body>
    <header id="header">
        <div id="logocontainer">
            <a href="/">
                <img id="headerimg" src="{% static "linkshare/img/header.png" %}" alt="header"/>
            </a>
        </div>
    </header>
    <div id="bg-div">
        <div id="contentdiv">
            <div id="main-content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>