{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Home{% endblock %}

{% block head %}
    <script src="{% static "linkshare/js/AJAXCSRFSetup.js" %}"></script>
{% endblock %}

{% block customjs %}
    setup();

    $("#submitNew").click(submitLink);

    function submitLink(){
        $.post('{{ rooturi }}upload/', $('#newLink').serialize(), function(){

        }).done(function(data){
            $('#formNew').transition('slide down');
            location.reload();
        });
    }

    function getTitle(){
        $.post('getTitle/', { 'url' : $('#url').val() }, function(){

        }).done(function(data){
            $('#title').val(data);
        });
    }

    $('#url').blur(getTitle);

    {% for link in links %}
    var client = new ZeroClipboard( document.getElementById("copy-button{{ link.id }}") );

    client.on( "ready", function( readyEvent ) {
        $('#global-zeroclipboard-html-bridge').attr({
            'data-content':'Copy to clipboard',
            'data-position':'top center'
        });
        $('#global-zeroclipboard-html-bridge').popup({duration:0, delay: {show: 0, hide: 0}});
        client.on( "aftercopy", function( event ) {

        } );
    } );
    {% endfor %}
{% endblock %}

{% block content %}
    <div id="menu" class="ui right aligned grid">
        <div class="column">
            <div id="newButton" class="ui blue button" onclick="$('#formNew').transition('slide down')">
                new
            </div>
        </div>
        <div class="column">
            <p id="logoutLink"><a href="{% url 'logout' %}">
                Logout!
            </a></p>
        </div>
    </div>
    <div id="formwrap">
    <form id="newLink">
        <div id="formNew" class="ui form inner">
            <div class="two fields">
                <div class="field">
                    <label>
                        Url:
                    </label>
                    <input name="url" id="url" type="text">
                </div>
                <div class="field">
                    <label>
                        Preferred shortened url:
                    </label>
                    <div class="ui labeled input">
                        <div class="ui label">
                            {{ rooturi }}url/
                        </div>
                        <input name="id" id="id" type="text" placeholder="placeholder">
                    </div>
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Title</label>
                    <input name="title" id="title" type="text">
                </div>
                <div class="field">
                </div>
            </div>
            <div class="field">
                <label>Description</label>
                <textarea name="description" id="description"></textarea>
            </div>
            <div id="submitNew" class="ui submit button">Submit</div>
        </div>
    </form>
    </div>
    <div id="finalcontentcontainer1" class="inner">
        <div>
            <div class="ui relaxed divided items">
                {% for link in links %}
                    <div class="item">
                        <div class="ui avatar image">
                            <a href="{{ link.url }}">
                                <img src="https://www.google.com/s2/favicons?domain={{ link.url }}">
                            </a>
                        </div>
                        <div class="content nopadop">
                            <a class="header" href="{{ link.url }}">{{ link.title }}</a>
                            <div class="meta">
                                <a class="header" href="{{ link.url }}">
                                    <span class="url">{{ link.url }}</span>
                                </a>
                            </div>
                            <div class="description">
                                {{ link.description }}
                            </div>
                            <div class="extra nopadop">
                                <div class="ui action input right floated nopadop">
                                    <input type="text" value="{{ rooturi }}url/{{ link.id }}" disabled>
                                    <div class="ui teal right icon button" id="copy-button{{ link.id }}" data-clipboard-text="{{ rooturi }}url/{{ link.id }}">
                                        <i class="copy icon"></i>
                                    </div>
                                </div>
                                <div class="ui horizontal label">{{ link.timestamp }}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="top-border">
        <div class="margin15 text-center">
            <div class="ui grey inverted bbb pagination menu">
                {% for elem in pagination %}
                    <a class = "{{ elem.class }}" href = "{{ rooturi }}?page={{ elem.link }}">
                        {{ elem.inner |safe }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}